@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('fonts/Gilroy-Bold.eot');
	src: url('fonts/Gilroy-Bold.woff') format('woff'), url('fonts/Gilroy-Bold.ttf') format('truetype'), url('fonts/Gilroy-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.header {
	max-width: 100%;
	background-color: #C4C4C4;
	opacity: 0.75;
	margin-bottom: 40px;
}

.box-header {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}

.logo {
	font-weight: bold;
	padding: 11px 0;
	display: inline-block;
}

.site-search {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 14px 0 11px 0;
}

.input {
	width: 295px;
	padding: 12px 0 12px 41px;
	border: none;
	display: inline-block;
	outline: none;
	border: 2px solid transparent;
}

.input:focus {
	border-color: #2EC1AC;
}

.site-search:before {
	content: "";
	position: absolute;
	left: 13px;
	top: 29px;
	background-image: url(img/search_icon.svg);
	background-repeat: no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;	
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

.product-box {
	width: 294px;
	margin: 0 71px 40px 0;
	float: left;
	text-decoration: none;
	position: relative;
}

.product-box:last-child {
	margin-right: 0;
}

.product-img {
	position: relative;
}

.product-img:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(200, 164, 164, 0.55);
	pointer-events: none;
	transition: opacity .3s ease;
} 

.product-box:hover .product-img:before {
	opacity: 1;
}

.raw:after {
	content: "";
	clear: both;
}

.sale:after {
	content: "-50%";
	text-align: center;
	padding: 12px 0;
	size: 16px;
	color: #fff;
	background-color:#E97171;
	width: 48px;
	height: 24px;
	border-radius: 50%;
	position: absolute;
	top: 24px;
	right: 24px;
}

.new:after {
	content: "New";
	text-align: center;
	padding: 12px 0;
	size: 16px;
	color: #fff;
	background-color:#2EC1AC;
	width: 48px;
	height: 24px;
	border-radius: 50%;
	position: absolute;
	top: 24px;
	right: 24px;
}

.product-text {
	width: 294px;
	background-color: #F4F5F7;
	padding: 16px 0 30px 16px;
}

.product-name {
	font-family: 'Gilroy-SemiBold', sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #3A3A3A;
}

.grey-text {
	font-size: 16px;
	line-height: 24px;
	color: #898989;
	margin: 8px 0;
}

.new-price {
	font-size: 20px;
	margin-right: 16px;
	display: inline-block;
}

.old-price {
	text-decoration: line-through;
	margin: 0;
	display: inline-block;
}